@import 'tailwindcss';
@import './base.css';

body {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  background-image: url('./minecraft-background.png');
  background-size: cover;
  user-select: none;
}

::-webkit-scrollbar {
  position: fixed;
  width: 8px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1); /* Track color */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3); /* Thumb color */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.5); /* Thumb color on hover */
}
