@import 'tailwindcss';
@import './base.css';

body {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  background-image: url('./minecraft-background.png');
  background-size: cover;
  user-select: none;
}
